In [4]:
import numpy as np
import pandas as pd

In [11]:
matriz_1 = pd.DataFrame(np.random.random((2, 3)))
matriz_2 = pd.DataFrame(np.random.random((2, 3)))
matriz_1

          0         1         2
0  0.271609  0.622465  0.099581
1  0.642618  0.185218  0.731408

In [12]:
matriz_2

          0         1         2
0  0.486602  0.810061  0.177922
1  0.971891  0.942253  0.341756

In [19]:
result = pd.DataFrame(matriz_1.values * matriz_2.values)
result

          0         1         2
0  0.132165  0.504234  0.017718
1  0.624554  0.174522  0.249963