In [31]:
import pandas as pd

### *Carregar o Dataset*

In [32]:
df = pd.read_csv('flavors_of_cacao.csv')

### *Visualizar o DataFrame com os 10 primeiros dados*

In [33]:
df.head(10)

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

### *Visualizar os 5 últimos dados*

In [34]:
df.tail(5)

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [44]:
df.columns

Index(['Company \n(Maker-if known)', 'Specific Bean Origin\nor Bar Name',
       'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating',
       'Bean\nType', 'Broad Bean\nOrigin'],
      dtype='object')

In [66]:
df.isnull().sum()

Company \n(Maker-if known)           0
Specific Bean Origin\nor Bar Name    0
REF                                  0
Review\nDate                         0
Cocoa\nPercent                       0
Company\nLocation                    0
Rating                               0
Bean\nType                           1
Broad Bean\nOrigin                   1
dtype: int64

### *Verificando o tipo dos valores das colunas*

In [35]:
df.dtypes

Company \n(Maker-if known)            object
Specific Bean Origin\nor Bar Name     object
REF                                    int64
Review\nDate                           int64
Cocoa\nPercent                        object
Company\nLocation                     object
Rating                               float64
Bean\nType                            object
Broad Bean\nOrigin                    object
dtype: object

### *Informaçõesdo DataFrame*

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Company
(Maker-if known)         1795 non-null   object
 1   Specific Bean Origin
or Bar Name  1795 non-null   object
 2   REF                               1795 non-null   int64
 3   Review
Date                       1795 non-null   int64
 4   Cocoa
Percent                     1795 non-null   object
 5   Company
Location                  1795 non-null   object
 6   Rating                            1795 non-null   float64
 7   Bean
Type                         1794 non-null   object
 8   Broad Bean
Origin                 1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB

In [37]:
df['Rating'].mean()

3.185933147632312

In [38]:
df['Rating'].max()

5.0

In [39]:
df['Rating'].min()

1.0

In [41]:
df[df['Company\nLocation'] == 'France'].count()

Company \n(Maker-if known)           156
Specific Bean Origin\nor Bar Name    156
REF                                  156
Review\nDate                         156
Cocoa\nPercent                       156
Company\nLocation                    156
Rating                               156
Bean\nType                           156
Broad Bean\nOrigin                   156
dtype: int64

In [43]:
df[(df['Cocoa\nPercent'] == '75%') & (df['Company\nLocation'] == 'Austria')].count()

Company \n(Maker-if known)           2
Specific Bean Origin\nor Bar Name    2
REF                                  2
Review\nDate                         2
Cocoa\nPercent                       2
Company\nLocation                    2
Rating                               2
Bean\nType                           2
Broad Bean\nOrigin                   2
dtype: int64

In [45]:
df.loc[42]

Company \n(Maker-if known)             Alexandre
Specific Bean Origin\nor Bar Name     Tien Giang
REF                                         1944
Review\nDate                                2017
Cocoa\nPercent                               70%
Company\nLocation                    Netherlands
Rating                                       3.5
Bean\nType                            Trinitario
Broad Bean\nOrigin                       Vietnam
Name: 42, dtype: object

In [73]:
df = df.query('Rating >= 4')
df

,Company \n(Maker-if known),Specific Bean Origin\nor Bar Name,REF,Review\nDate,Cocoa\nPercent,Company\nLocation,Rating,Bean\nType,Broad Bean\nOrigin
9,A. Morin,Pablino,1319,2014,70%,France,4.0,,Peru
17,A. Morin,Chuao,1015,2013,70%,France,4.0,Trinitario,Venezuela
20,A. Morin,Chanchamayo Province,1019,2013,63%,France,4.0,,Peru
54,Amano,Morobe,725,2011,70%,U.S.A.,4.0,,Papua New Guinea
56,Amano,Guayas,470,2010,70%,U.S.A.,4.0,,Ecuador
76,Amedei,Porcelana,111,2007,70%,Italy,4.0,Criollo (Porcelana),Venezuela
77,Amedei,Nine,111,2007,75%,Italy,4.0,Blend,
78,Amedei,Chuao,111,2007,70%,Italy,5.0,Trinitario,Venezuela
83,Amedei,Madagascar,123,2007,70%,Italy,4.0,Trinitario (85% Criollo),Madagascar
86,Amedei,Toscano Black,40,2006,70%,Italy,5.0,Blend,

In [75]:
print('Países que produzem chocolates com notas altas:')
df.groupby(by='Company\nLocation').size()

Países que produzem chocolates com notas altas:

Company\nLocation
France    3
Italy     5
U.S.A.    2
dtype: int64