# JSON Data

JSON significa Java Script Object Notation e é um formato de arquivo popular para guardar e transmitir infomarção em aplicações WEB.
A estrutura do JSON se assemelha muito a estrutura dos dicionários utilizados no python. Ele possui a estutura "chave": <valor> em par, a chave é do tipo string e p valor pode ser do tipo string, boolean, array, object ou null. O python possui um módulo para tabalhar com JSON e pode - se utilizar o módulo Pandas para ajudar a trabalhar com os dados guardados por essa estrutura. Por JSON trabalhar com dados WEB é possível ler links de sites e trabalhar com esses dados.

# Situações de uso de JSON Data

## 1. Serialização de objetos python

In [3]:
import json

data = {
    'name': 'Luna Almeida',
    'age': '22'
}

with open('file.json', 'w') as json_file:
    json.dump(data, json_file, indent=4)

## 2. Deserialização de JSON em um objeto python

In [4]:
with open('file.json', 'r') as json_file:
    data = json.load(json_file)

print(data, type(data))

{'name': 'Luna Almeida', 'age': '22'} <class 'dict'>

## 3. Obtendo dados de um site

In [16]:
import pandas as pd

df = pd.read_json('https://mdn.github.io/learning-area/javascript/oojs/json/superheroes.json')
df['members'].apply(pd.Series)
df = pd.concat([df['members'].apply(pd.Series), df.drop('members', axis = 1)], axis = 1)
df

,name,age,secretIdentity,powers,squadName,homeTown,formed,secretBase,active
0,Molecule Man,29,Dan Jukes,"[Radiation resistance, Turning tiny, Radiation...",Super Hero Squad,Metro City,2016,Super tower,True
1,Madame Uppercut,39,Jane Wilson,"[Million tonne punch, Damage resistance, Super...",Super Hero Squad,Metro City,2016,Super tower,True
2,Eternal Flame,1000000,Unknown,"[Immortality, Heat Immunity, Inferno, Teleport...",Super Hero Squad,Metro City,2016,Super tower,True

## 4. Método para analisar JSON Data aninhados

In [18]:
data = [{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},
        {'name': {'given': 'Mose', 'family': 'Regner'}},
        {'id': 2, 'name': 'Faye Raker'}]
pd.json_normalize(data)

    id name.first name.last name.given name.family        name
0  1.0     Coleen      Volk        NaN         NaN         NaN
1  NaN        NaN       NaN       Mose      Regner         NaN
2  2.0        NaN       NaN        NaN         NaN  Faye Raker

## 5. Transformar um DataFrame em JSON Data por índice

In [35]:
df = pd.DataFrame([['a', 'b'], ['c', 'd']],
                    index=['row 1', 'row 2'],
                    columns=['col 1', 'col 2'])

data = df.to_json(orient='index')
data

'{"row 1":{"col 1":"a","col 2":"b"},"row 2":{"col 1":"c","col 2":"d"}}'